<template>
  <q-card>
    <q-card-section>{{ name }}</q-card-section>
    <q-separator />
    <q-card-actions align="center">
      <q-btn flat :to="{ name: 'rooms-detail', params: { id: roomId } }">Войти</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'AppRoom',
  props: {
    name: {
      type: String,
      required: true,
    },
    roomId: {
      type: Number,
      required: true,
    },
  },
};
</script>
