<template>
  <video ref="videoPlayer" class="video-js" />
</template>

<script>
import videojs from 'video.js';
import { sendToWebSocket } from '../api';

export default {
  name: 'VideoPlayer',
  props: {
    options: {
      type: Object,
      required: true,
    },
  },
  emits: {
    ready: null,
    play: null,
    pause: null,
  },
  data() {
    return {
      player: null,
    };
  },
  mounted() {
    this.player = videojs(this.$refs.videoPlayer, this.options, () => {
      this.$emit('ready');
    });
    this.player.on('play', () => this.$emit('play'));
    this.player.on('pause', () => this.$emit('pause'));
  },
  beforeUnmount() {
    if (this.player) {
      this.player.dispose();
    }
  },
  methods: {
    play() {
      this.player.play();
    },
    pause() {
      this.player.pause();
    },
    stop() {
      this.player.stop();
    },
  },
};
</script>
