<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="eva-menu-outline" @click="toggleLeftDrawer" />
        <q-toolbar-title>Онлайн-кинотеатр</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above side="left" bordered>
      <q-scroll-area class="fit">
        <q-list>
          <template v-for="(menuItem, idx) in menuList" :key="idx">
            <q-item
              v-ripple
              clickable
              :active="menuItem.label === 'Outbox'"
              :to="{ name: menuItem.to }"
              exact
            >
              <q-item-section avatar>
                <q-icon :name="menuItem.icon" />
              </q-item-section>
              <q-item-section>
                {{ menuItem.label }}
              </q-item-section>
            </q-item>
            <q-separator v-if="menuItem.separator" :key="'sep' + idx" />
          </template>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue';

const menuList = [
  {
    icon: 'eva-home-outline',
    label: 'Главная',
    to: 'home',
    separator: true,
  },
  {
    icon: 'eva-people-outline',
    label: 'Комнаты',
    to: 'rooms-list',
    separator: false,
  },
];

export default {
  setup() {
    const leftDrawerOpen = ref(false);

    return {
      menuList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
};
</script>
