<template>
  <q-page class="q-pa-md">
    <input v-model.lazy="link" />
    <q-separator />
    <div class="row">
      <video-player v-if="link" :options="options" @play="log()" />
    </div>
  </q-page>
</template>

<script>
import VideoPlayer from '../components/VideoPlayer.vue';

export default {
  name: 'LandingPage',
  components: { VideoPlayer },
  data() {
    return {
      link: null,
    };
  },
  computed: {
    options() {
      return {
        controls: true,
        sources: [
          {
            src: this.link,
            type: 'video/mp4',
          },
        ],
      };
    },
  },
  watch: {
    link(v) {
      console.log(`link changed to ${v}`);
    },
  },
  methods: {
    log() {
      console.log('play');
    },
  },
};
</script>
