<template>
  <q-page>
    <div class="row">
      <div class="text-h3">Название комнаты</div>
    </div>
    <div class="row">
      <video-player class="row" :options="options" />
    </div>
  </q-page>
</template>

<script>
import VideoPlayer from '../components/VideoPlayer.vue';
export default {
  name: 'RoomDetail',
  components: { VideoPlayer },
  props: {
    roomId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      apiPath: `api/rooms/${this.roomId}`,
      options: {
        controls: true,
        sources: [
          {
            src: 'http://ftp.nluug.nl/pub/graphics/blender/demo/movies/ToS/tears_of_steel_720p.mov',
            type: 'video/mp4',
          },
        ],
      },
    };
  },
};
</script>
