<template>
  <div v-if="result" class="q-pa-md row items-start q-gutter-md">
    <room-item v-for="(data, idx) in result" :key="idx" :room-id="data.id" :name="data.name" />
  </div>
  <q-circular-progress v-if="loading" indeterminate />
  <div v-if="error">Произошла ошибка при загрузке</div>
</template>

<script>
import RoomItem from '../components/RoomItem.vue';
import { useApi } from '../composables/useApi';
import axios from 'axios';
import { onMounted } from 'vue';

export default {
  name: 'RoomList',
  components: {
    RoomItem,
  },
  setup() {
    const { result, callApi, loading, error } = useApi(async () => {
      const res = await axios.get('api/rooms/');
      return res.data;
    });

    onMounted(() => {
      callApi();
    });

    return { result, callApi, loading, error };
  },
};
</script>
